$grey-hue: 205 !default;
$primary-hue: 195 !default;

$colors: (
  // Navy-Grey
  "grey-50": hsl($grey-hue, 20%, 94%),
  "grey-100": hsl($grey-hue, 18%, 86%),
  "grey-200": hsl($grey-hue, 16%, 77%),
  "grey-300": hsl($grey-hue, 14%, 68%),
  "grey-400": hsl($grey-hue, 12%, 59%),
  "grey-500": hsl($grey-hue, 10%, 50%),
  "grey-600": hsl($grey-hue, 15%, 41%),
  "grey-700": hsl($grey-hue, 20%, 32%),
  "grey-800": hsl($grey-hue, 25%, 23%),
  "grey-900": hsl($grey-hue, 30%, 15%),
  // Light Blue
  "primary-50": hsl($primary-hue, 90%, 94%),
  "primary-100": hsl($primary-hue, 88%, 86%),
  "primary-200": hsl($primary-hue, 86%, 77%),
  "primary-300": hsl($primary-hue, 84%, 68%),
  "primary-400": hsl($primary-hue, 82%, 59%),
  "primary-500": hsl($primary-hue, 80%, 50%),
  "primary-600": hsl($primary-hue, 85%, 41%),
  "primary-700": hsl($primary-hue, 90%, 32%),
  "primary-800": hsl($primary-hue, 95%, 23%),
  "primary-900": hsl($primary-hue, 100%, 15%),
  // Black & White
  "black": #000,
  "white": #fff,

  // Amber
  "amber-50": #fff8e1,
  "amber-100": #ffecb3,
  "amber-200": #ffe082,
  "amber-300": #ffd54f,
  "amber-400": #ffca28,
  "amber-500": #ffc107,
  "amber-600": #ffb300,
  "amber-700": #ffa000,
  "amber-800": #ff8f00,
  "amber-900": #ff6f00,

  // Green
  "green-50": #e8f5e9,
  "green-100": #c8e6c9,
  "green-200": #a5d6a7,
  "green-300": #81c784,
  "green-400": #66bb6a,
  "green-500": #4caf50,
  "green-600": #43a047,
  "green-700": #388e3c,
  "green-800": #2e7d32,
  "green-900": #1b5e20,

  // Red
  "red-50": #ffebee,
  "red-100": #ffcdd2,
  "red-200": #ef9a9a,
  "red-300": #e57373,
  "red-400": #ef5350,
  "red-500": #f44336,
  "red-600": #e53935,
  "red-700": #d32f2f,
  "red-800": #c62828,
  "red-900": #b71c1c
);
