@mixin list-style-none {
  list-style: none;
  margin: 0;
  padding-left: 0;

  li {
    list-style: none;
  }
}

@mixin unstyled-button {
  --background-color: transparent;
  --border-color: transparent;
  --box-shadow: none;
  box-sizing: content-box;
  padding: 0;

  &:is([aria-current], :hover, :active, :focus) {
    --background-color: var(--primary-focus);
    --primary-hover: var(--color-grey-700);
    --box-shadow: none;
  }
}
