@use "../../design-system/" as *;
@use "../constants" as *;

#inputVideo {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  width: 100%;
  height: 100vh;

  opacity: 0;
  object-fit: fill;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);

  transition: opacity 500ms;

  &.initialised {
    opacity: 0.1;
  }
}

#fluidCanvas {
  width: 100%;
  height: 100vh;
}

.dialog {
  --color: var(--color-grey-900);
  --typography-spacing-vertical: #{$size-4};

  padding: $size-6;
  text-align: center;
  // Show footer
  height: calc(100% - #{$size-10}) !important;

  @media screen and (min-width: $small-screen-breakpoint) {
    height: inherit !important;
  }

  h1 {
    --typography-spacing-vertical: #{$size-4};

    font-family: $font-family-heading;
    font-weight: $font-weight-normal;
  }

  em {
    color: var(--color-grey-400);
  }
}

.infoButton {
  @include unstyled-button;
  position: absolute;
  top: $size-2;
  right: $size-2;
  width: 24px;
  height: 24px;
  transition: opacity ease-in-out 500ms;

  :global(.ph) {
    font-size: 24px;
  }

  &.hide {
    opacity: 0;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  font-size: $font-size-md;
  width: 100%;
  color: var(--color-grey-400);
}
