@use "../../design-system/" as *;

.footer {
  position: absolute;
  display: flex;
  align-items: center;
  gap: $size-1;
  bottom: 0;
  right: 0;
  font-size: $font-size-md;
  padding: $size-1 $size-2;
  color: var(--color-grey-400);

  a {
    font-family: $font-family-heading;
    font-size: $font-size-lg;
    color: var(--color-green-400);
  }

  i {
    font-size: $font-size-lg;
  }
}
